*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(#a2c8db, #7eb9d6);
    font-family: Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container{
    background-color: #4b7e93;
    width: 400px;
    height: 600px;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.3);
}

.app-title{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

.tasks-section{
    background-color: #e5ecf2;
    width: 100%;
    height: 90%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
    overflow-y: scroll;
}

.tasks-section::-webkit-scrollbar{
    display: none;
}

.new-task-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

#new-task-input{
    width: 310px;
    height: 50px;
    outline: none;
    border: none;
    background: #a2c8db;
    border-radius: 2rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: #FFF;
    text-align: center;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
}

#new-task-input::placeholder {
    color: white;
    opacity: 0.5;
}

#new-task-btn{
    width: 50px;
    background-color: #FFF;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
}

.tasks-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-item{
    width: 100%;
    height: 50px;
    background-color: white;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
}

.task-item p{
    font-size: 1.5rem;
    margin-left: 0.5rem;
    user-select: none;
}

.task-item img{
    width: 30px;
    cursor: pointer;
}

.error{
    border: 2px solid #fc834a !important;
}

.completed{
    background-color: rgb(221, 255, 170);
    text-decoration: line-through;
}

.poweredByAlex{
    font-weight: bold;
    opacity: 0.4;
}